# Streamlit for app
streamlit

# PDF / PPT loader dependencies
pypdf
unstructured

# LangChain Core
langchain
langchain-core
langchain-community
langchain-text-splitters

# Vector Store
faiss-cpu

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# PyTorch  
# (Install only if you run open-source HuggingFace models locally)
torch
torchvision
torchaudio



streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai








